body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.img1{
    background: url("https://www.teahub.io/photos/full/290-2906396_night-sky.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.img2{
    background: url("https://www.bleepstatic.com/content/hl-images/2021/06/15/Windows--11.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.text{
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
}
.text2{
    color: white;
    position: absolute;;
    text-align: center;
    top: 223%;
    left: 0;
    width: 100%;
}
.centext{
    text-align: center;
    background-color: black;
    border: solid 1px black;
    padding-top: 35%;
    color: white;
}